.product-card {
    padding: 30px;
    background-color: #B1F0F7;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.product-image {
    width: 200px;
    height: 200px;
    object-fit: contain;
    background: white;
    border-radius: 20px;
    padding: 10px;
}

.product-title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}