.about-page {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

@media(max-width: 650px) {
    .about-image {
        width: 100%;
    }
}