.cart-page {
    padding-top: 30px;
    padding-bottom: 30px;
}

.cart-empty-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 60px;
}

.cart-summary {
    display: grid;
    grid-template-columns: 70% 30%;
    width: 70%;
    margin: auto;
    gap: 30px;
    padding-top: 30px;
}

.cart-items-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.cart-item {
    display: flex;
    background-color: #F5F0CD;
    padding: 20px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    justify-content: space-between;
    gap: 20px;
}

.cart-item-title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.cart-item-image {
    width: 125px;
    height: 125px;
    object-fit: contain;
    background: white;
    border-radius: 20px;
    padding: 10px;
    border: 1px solid rgb(216, 215, 215);
    margin-top: -10px;
    flex-shrink: 0;
}

.cart-item-left-info {
    display: flex;
    gap: 15px;
    width: 70%;
}

.cart-item-right-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.shopping-summary {
    background-color: #F5F0CD;
    padding: 20px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cart-total-container {
    display: flex;
    justify-content: space-between;
}

.cart-decrement-button, .cart-increment-button {
    width: 30px;
    height: 30px;
    border: none;
    background-color: #FADA7A;
    color: #758CA3;
    font-weight: bold;
    font-size: large;
}

.quantity-control {
    display: flex;
    gap: 10px;
}

.cart-delete-button {
    background-color: #FADA7A;
    padding: 5px;
    width: 30px;
    height: 30px;
}

.cart-buy-button {
    background-color: #FADA7A;
    color: #758CA3;
    font-weight: bold;
    font-size: large;
    width: 100px;
    height: 50px;
    border: none;
    border-radius: 15px;
}

.cart-decrement-button:hover, .cart-increment-button:hover, .cart-delete-button:hover, .cart-buy-button:hover {
    background-color: #c0940e98;
    cursor: pointer;
    color: white;
}

.cart-delete-button:hover > path {
    fill: #ffffff;
}