.cart-empty-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 60px;
  gap: 20px;
  height: 100vh;
}

.cart-empty-button {
    width: 150px;
    height: 50px;
    border-radius: 30px;
    border: none;
    background-color: #FADA7A;
    font-weight: bold;
    font-size: large;
}

.cart-empty-button:hover {
    background-color: #c0940e98;
    color: white;
    cursor: pointer;
}

.cart-page {
    padding-top: 30px;
    padding-bottom: 30px;
}

.cart-summary {
    display: grid;
    grid-template-columns: 70% 30%;
    width: 80%;
    margin: auto;
    gap: 30px;
    padding-top: 30px;
}

.cart-items-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.shopping-summary {
    background-color: #F5F0CD;
    padding: 20px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    height: 325px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.cart-total-container {
    display: grid;
    grid-template-columns: 50% 50%;
    row-gap: 20px;
}

.cart-summary-numbers {
    text-align: end;
}

.cart-buy-button {
    background-color: #FADA7A;
    color: #758CA3;
    font-weight: bold;
    font-size: large;
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 15px;
}

.cart-decrement-button:hover, .cart-increment-button:hover, .cart-delete-button:hover, .cart-buy-button:hover {
    background-color: #c0940e98;
    cursor: pointer;
    color: white;
}

.cart-delete-button:hover > path {
    fill: #ffffff;
}

@media(max-width:900px) {
    .cart-summary {
        display: flex;
        flex-direction: column;
        width: 90%;
        align-items: center;
    }

    .shopping-summary {
        width: 60%;
    }
}

@media(max-width:500px) {
    .cart-summary {
        width: 100%;
    }

    .shopping-summary {
        width: 80%;
    }
}