.product-page {
    padding-top: 30px;
    padding-bottom: 30px;
}

.product-page-info-container {
    display: flex;
    max-width: 1000px;
    margin: auto;
    gap: 40px;
    padding: 30px;
}

.product-info-image {
    border: 1px solid rgb(192, 192, 192);
    padding: 30px;
    border-radius: 30px;
    width: 400px;
    height: 400px;
    object-fit: contain;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.product-info-right {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.product-info-right-top, .product-info-right-middle {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.product-decrement-button, .product-increment-button {
    width: 30px;
    height: 30px;
    border: none;
    background-color: #81BFDA;
    color: white;
    font-weight: bold;
    font-size: large;
}

.product-submit-button {
    width: 120px;
    height: 50px;
    border: none;
    background-color: #81BFDA;
    color: white;
    font-weight: bold;
    font-size: large;
    border-radius: 20px;
}

.product-decrement-button:hover, .product-increment-button:hover, .product-submit-button:hover {
    background-color: #1176a1;
    cursor: pointer;
}

@media(max-width: 800px) {
    .product-page-info-container {
        flex-direction: column;
        width: 90%;
        align-items: center;
        padding: 10px;
    }

    .product-info-image {
        width: 100vw;
        border-radius: 0;
    }
}