nav {
    background-color: #f2f4f7e0;
    display: flex;
    justify-content: space-between;
    padding: 0 3rem;
    gap: 20px;
    font-size: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    align-items: stretch;
    height: 3.5rem;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 300px;
    z-index: 999;
    background-color: rgba(218, 218, 218, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    display: flex;
}

.navbar-left {
    display: flex;
    gap: 30px;
}

.navbar-link {
    text-decoration: none;
    color: grey;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 1rem;
}

.navbar-link.sidebar-link {
    height: 50px;
    width: 100%;
}

.navbar-link.active {
    background-color: #555;
    color: white;
    fill: white;
}

.navbar-link:hover {
    background-color: #777;
    color: white;
    fill: white;
}

.sidebar-button {
    display: none;
}

.cart-icon {
    width: 40px;
    height: 40px;
    position: relative;
}

.cart-icon > path {
    fill: grey
}

.navbar-link.active > .cart-icon > path {
    fill: white;
}

.navbar-link:hover > .cart-icon > path {
    fill: white;
}

.notification-badge {
    position: absolute;
    right: 50px;
    top: 5px;
    padding: 5px 10px;
    border-radius: 50%;
    background: red;
    color: white;
    font-size: 12px;
}

@media(max-width: 800px) {
    .sidebar-button {
        display: block;
    }

    .hide-on-mobile {
        display: none;
    }

    nav {
        padding: 0;
    }

    .notification-badge {
        right: 5px;
    }
}